<launch>
  <arg name="reference_frame" default="/map"/>
  <arg name="units" default="mm"/>
  <arg name="publish_rate" default="1000"/>
  <arg name="omni_name" default="phantom"/>

	<param name="robot_description" command="$(find xacro)/xacro.py '$(find omni_description)/urdf/bimanual_phantom.urdf.xacro'" />
<!--
  <param name="use_gui" value="true"/>
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
-->
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
	<node name="joint_states_node" pkg="omni_common" type="joint_states_node" />
	
  <node name="left_omni_state" pkg="omni_common" type="omni_state2" output="screen"> 
    <param name="omni_name" value="right_phantom"/>
    <param name="type" value="right_" />
    <param name="publish_rate" value="$(arg publish_rate)"/>
    <param name="reference_frame" value="$(arg reference_frame)"/>
    <param name="units" value="$(arg units)"/>
<!--
    <remap from="$(arg omni_name)/joint_states" to="/joint_states"/>
-->
  </node>
  
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find omni_common)/launch/phantom_bimanual.rviz" required="true" />

	
</launch>
